div.a {
    width: 100px;
    height: 100px;
    display: inline-block;
}

div.b {
    width: 100px;
    height: 100px;
    display: inline-block;
}

div.c {
    width: 100px;
    height: 100px;
    display: inline-block;
}

div.d {
    width: 100px;
    height: 100px;
    display: inline-block;
}